
@{
    ViewBag.Title = "ApiS";
}

<h2>ApiS</h2>

<div>
    <div>
        <label> API que Lista Usuario Cadastrados</label>
        <p>Api/Usuario/Usuarios</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/Usuarios" target="_blank"> localhost:50289/Api/Usuario/<span>Usuarios</span></a></p>
        <div style="background-color:white; width:30%; border-radius: 3px">
            <pre>
            <code >
                {
                "UsuarioId": 1,
                "Nome": "Administrardor1",
                "Cpf": "08295435973",
                "Email": "administrador1@DisKWeb.com",
                "Nascimento": "2018-09-26T00:00:00",
                "Telefone": "41995017156",
                "Senha": "Admin12345",
                "ConfirmeSenha": null,
                "NivelAdmin": "Admin"
                },
            </code>
        </pre>

        </div>

    </div>
    <div>
        <label>API que Lista Usuario com seu Endereço</label>
        <p>Api/Usuario/EnderecoUsuario</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/EnderecoUsuario" target="_blank"> localhost:50289/Api/Usuario/<span>EnderecoUsuario</span></a></p>
    </div>
    <div>
        <label>API que Lista Todos os Produtos Cadastrados no sistema</label>
        <p>Api/Usuario/ListarProdutos</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/ListarProdutos" target="_blank"> localhost:50289/Api/Usuario/<span>ListarProdutos</span></a></p>
    </div>
    <div>
        <label>API que Lista Produto passando um id</label>
        <p>Api/Usuario/ProdutoPorId/{Id}</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/ProdutoPorId/2" target="_blank"> localhost:50289/Api/Usuario/<span>ProdutoPorId/2</span></a></p>
    </div>
    <div>
        <label>API que Lista Compras Cadastradas</label>
        <p>Api/Usuario/ListaCompras</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/ListaCompras" target="_blank"> localhost:50289/Api/Usuario/<span>ListaCompras</span></a></p>
    </div>
    <div>
        <label>API que Lista Compras Finalizadas</label>
        <p>Api/Usuario/ComprasFinalizadas</p>
        <p><label>Exemplo: </label><a href="http://localhost:50289/Api/Usuario/ComprasFinalizadas" target="_blank"> localhost:50289/Api/Usuario/<span>ComprasFinalizadas</span></a></p>
    </div>
</div>