
@{
    ViewBag.Title = "ApiS";
}

<h2>ApiS</h2>

<div>
    <div>
        <label> API que Lista Usuario Cadastrados</label>
        <p>Api/Usuario/Usuarios</p>
    </div>
    <div>
        <label>API que Lista Usuario com seu Endereço</label>
        <p>Api/Usuario/EnderecoUsuario</p>
    </div>
    <div>
        <label>API que Lista Todos os Produtos Cadastrados no sistema</label>
        <p>Api/Usuario/ListarProdutos</p>
    </div>
    <div>
        <label>API que Lista Produto passando um id</label>
        <p>Exmplo: Api/Usuario/ProdutoPorId/3 </p>
        <p>Api/Usuario/ProdutoPorId/{Id}</p>
    </div>
    <div>
        <label>API que Lista Compras Cadastradas</label>
        <p>Api/Usuario/ListaCompras</p>
    </div>
    <div>
        <label>API que Lista Compras Finalizadas</label>
        <p>Api/Usuario/ComprasFinalizadas</p>
    </div>
</div>


