@using Project_DisKWeb.Models
@{
    ViewBag.Title = "Encomendas";
    List<Project_DisKWeb.Models.FinalCompra> encomenda = ViewBag.Encomenda;
    List<Project_DisKWeb.Models.Compra> compra = ViewBag.ListCompras;

}
<table>
    @foreach (Compra item in compra)
    {
    <tr>
       <td></td>
    
    
    
    
    
    
    
    </tr>
    }

</table>
<h2>Encomendas</h2>

